h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}


:root {
  --color-logo-btn-accent: #2196f3;
}
:root {
  --second-colour-for-text: #757575;
}
:root {
  --accent-text-for-btn: #ffffff;
}
:root {
  --secondary-font: Raleway;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
}
.section-title {
  text-align: center;
}
/*=====HEADER=====*/
.header-container {
  display: flex;
  align-items: center;
 
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  margin-right: 305px;
  align-items: center;
  }

.logo {
  display: block;
  margin-right: 90px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 3;
  color: var(--color-logo-btn-accent);
}
.logo-studio {
  color: #000000;
}
.nav-item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 2;
  cursor: pointer;
}
.nav-item:hover,
.nav-item:focus {
  color: var(--color-logo-btn-accent);
}
.contact-list {
  display: flex;
  align-items: center;  
    color: var(--second-colour-for-text);
}
.e-mail {
  margin-right: 30px;
} 
.contact-item {
  font-weight: 500;
  font-size: 14px;  
  line-height: 1.17;
  letter-spacing: 2;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--color-logo-btn-accent);
}
/*======END HEADER=====*/
/*======SECTION HERO=====*/
.slogan {
  text-align: center;
}
.slogan {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6;
}
.make-order {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.make-order {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 6;
  color: var(--accent-text-for-btn);
  background-color: var(--color-logo-btn-accent);
  cursor: pointer;
}
.make-order:hover,
.make-order:focus {
  color: var(--accent-text-for-btn);
  background-color: #188ce8;
}
/*======SECTION HERO END=====*/
/*======SECTION FEATURES=====*/
.section-title-hidden {
  visibility: hidden;
}
.features-list {
  display: flex;
}
.section-features {
  padding-bottom: 47px;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 3%;
}
.subtitle-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3;
  color: var(--second-colour-for-text);
}
.antena {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.clock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.diagram {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.astronaut {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*======SECTION FEATURES END=====*/
/*======SECTION OPPORTUNITY=====*/
.image-list {
  display: flex;
}
.section-opportunity {
  padding-top: 47px;
}
/*======SECTION OPPORTUNITY END=====*/
/*======SECTION OUR TEAM=====*/
.card-list {
  display: flex;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3;
}
.member-position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3;
  color: var(--second-colour-for-text);
}
/*======SECTION OUR TEAM END=====*/
/*======SECTION CONSTANT CLIENTS=====*/

.clients-list {
  display: flex;
  justify-content: space-between;
}
.client-item {
  border: 2px solid #757575;
}
/*======SECTION CONSTANT CLIENTS END=====*/
/*======FOOTER=====*/
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3;
}
.all-contacts {
  font-style: normal;
}
.contact-item-map:hover,
.contact-item-map:focus {
  color: var(--color-logo-btn-accent);
}
.all-contacts:hover,
.all-contacts:focus {
  color: var(--color-logo-btn-accent);
}
.socialnetworks {
  display: flex;
}
/*======FOOTER END=====*/

/*======LIST PROJECTS=====*/
.project-item {
  margin-top: 30px;
  margin-left: 30px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6;
}
.project-type {
  font-size: 16;
  line-height: 1.87;
  letter-spacing: 3;
  color: var(--second-colour-for-text);
}
.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*======LIST PROJECTS END=====*/
/*======COMPONETS=====*/

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3;
}
.filter-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 3;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-logo-btn-accent);
  color: var(--accent-text-for-btn);
}

a {
  color: inherit;

/*======COMPONETS END=====*/
